/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/**********SERVICE**************/

/***********footer*****************************/

.container {
  width: 100%;
  max-width: 940px;
  min-width: 480px;
  margin: 0 auto;
}
