//FONT-FAMILY
$primary-font-family: 'Acrom';

//COLOR
$primary-white-color: #ffffff;
$secondary-light-color: #afb0b3; //text-header
$secondary-light2-color: #999a9b; //section2 list color
$tretiary-light-color: #f7f7f7; //background-text color
$primary-dark-color: #000000; //text-bold and bacground-title
$secondary-dark-color:#3f4144;//text-paragraf
$tretiary-dark-color: #1b4371;//border-form footer
$primery-accent-color: #ff6b08; //orange
$primery-accent-light: #ff8939; //section2-subtitle
$secondary--accent-color: #16ebfe; //blue
$tretiary-accent-color: #06a4b2; // button-active
$quadruple-accent-color: #15bbca; // button-active footer
$background-color-dark: #181c27; //footer and form
$color-shadow-button:#c4570f; // button shadow-free
$color-shadow-hover:#17ecff; // button shadow-active
$color-form: #bfbfbf; //lable border
//FONT-SIZE
$paragraf-font-size: 14px;
