//FONT-FAMILY
$primary-font-family: 'Acrom';

//COLOR
$primary-white-color: #ffffff; 
$secondary-light-color: #afb0b3; //text-header
$tretiary-light-color: #f7f7f7; //background-text color
$primary-dark-color: #000000; //text-bold and bacground-title
$secondary-dark-color:#3f4144;//text-paragraf

$primery-accent-color: #ff6b08; //orange
$secondary--accent-color: #16ebfe; //blue
$background-color-dark: #181c27; //footer and form

//FONT-SIZE
$paragraf-font-size: 14px;

