.button {
  @include font-settings(10px, 42px, $primary-white-color, 900);
  font-family: $primary-font-family;
  background-color: $primery-accent-color;
  color: $primary-white-color;
  outline: none;
  cursor: pointer;
  box-shadow: 0 7px 10px rgba($color-shadow-button, 0.25);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  border: 1px solid $primery-accent-color;

  &:hover {
    background-color: $secondary--accent-color;
    border: 1px solid $secondary--accent-color;
    box-shadow: 0 7px 10px rgba($color-shadow-hover, 0.25);
    outline: none;
  }

  &:focus {
    background-color: $tretiary-accent-color;
    border: 1px solid $tretiary-accent-color;
    box-shadow: 0 7px 10px rgba($color-shadow-hover, 0.25);
    outline: none;
  }

  &_header {
    @include font-settings(12px, 54px, $primary-white-color, 900);
    height: 54px;
    width: 220px;

    @media (min-width: 768px) and (max-width: 1199px) {
      width: 110px;
    }
    @media (min-width: 1200px) {
      width: 122px;
    }
  }

  &_form {
    width: 166px;
    margin-left: 64px;
    height: 32px;
    line-height: 28px;

    @media (min-width: 768px) and (max-width: 1199px) {
      width: 148px;
      margin-left: 56px;
    }
    @media (min-width: 1200px) {
      width: 165px;
      margin-left: 70px;
    }
  }

  &_footer {
    @include font-settings(9px, 18px, $primary-white-color, 900);
    border: 0.5px solid $tretiary-dark-color;
    margin-top: 15px;
    outline: none;
    width: 127px;
    height: 22px;
    background-color: $background-color-dark;
    box-shadow: none;

    &:hover {
      background-color: $color-shadow-hover;
      border: 0.625px solid $color-shadow-hover;
      box-shadow: none;
      outline: none;
    }

    &:focus {
      background-color: $quadruple-accent-color;
      border: 0.5px solid $quadruple-accent-color;
      outline: none;
      box-shadow: none;
      font-weight: 500;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 137px;
      margin-left: 116px;
    }
    @media (min-width: 1200px) {
      width: 140px;
      margin-left: 131px;
    }
  }

  &_section-10 {
    @include font-settings(12px, 48px, $primary-white-color, 900);
    height: 52px;
    width: 218px;
    margin-right: 20px;

    @media (min-width: 768px) and (max-width: 1199px) {
      width: 123px;
    }
    @media (min-width: 1200px) {
      width: 136px;
    }
  }

  &_section-15 {
    width: 218px;
    height: 42px;
    line-height: 38px;
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 134px;
    }
    @media (min-width: 1200px) {
      width: 150px;
    }
  }

  &_section-18 {
    width: 295px;
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 202px;
    }
    @media (min-width: 1200px) {
      width: 226px;
    }
  }

  &_section-19 {
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 148px;
    }
    @media (min-width: 1200px) {
      width: 164px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    @include font-settings(7px, 26px, $primary-white-color, 900);
    height: 30px;
  }
  @media (min-width: 1200px) {
    @include font-settings(8px, 28px, $primary-white-color, 900);
    height: 32px;
  }
}
