.header {
    background-color: $background-color-dark;
    background-image: url(../../images/Layer_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-white-color;
    font-family: $primary-font-family;
    padding: 15px 15px 38px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header {
        background-image: url(../../images/Layer_header@2x.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.site_nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.menu {
    display: block;
    width: 20px;
    height: 30px;
    background: url(../../images/burg_menu.png) no-repeat;
    background-size: contain;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .menu {
    background: url(../../images/burg_menu@2x.png) no-repeat;
    background-size: contain;
  }
}

.header_heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.header_text-wrap {
    width: 400px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    margin-bottom: 20px;

    &::before {
        content: '<';
        font-size: 23px;
        font-weight: 900;
        color: $secondary--accent-color;
        position: absolute;
        top: 0; left: 0;
    }

    &::after {
        content: '/>';
        font-size: 23px;
        font-weight: 900;
        color: $secondary--accent-color;
        position: absolute;
        bottom: 0; right: 0;
    }
}

.header_text {
    font-size: $paragraf-font-size;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    
}

.header_text-bold {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 36px;
}

.header_text-grey {
    color: $secondary-light-color;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}
  
.header_text-pseudo {
    width: 400px;
    margin: 0 auto 36px;

  &::before {
    content: 'GoIT';
    display: block;
    font-size: 120px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }
}

.button_header {
    display: block;
    margin: 0 auto;
}

  