.section6 {
  margin-bottom: 70px;
}
.section6-wrap {
  margin: 0 auto;
}
.section6-header {
  font-size: 18px;
  font-weight: 700;
  width: 210px;
  margin: 0 auto;
  color: $primary-dark-color;
  margin-bottom: 25px;
}
.section6-subtitle {
  font-weight: 500;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;

  &::before {
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    background: $primary-dark-color;
    float: left;
    margin: 8px 15px 60px 0;
  }
}

.section6__list {
  color: $primary-dark-color;
  font-weight: 900;
  margin: 0 auto;
  width: 365px;
  line-height: 1.5;

  & p {
    color: #3f4144;
    width: 265px;
    margin: 0;
    font-weight: 400;
  }
  .section6__list-description {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .section6 {
    margin-bottom: 100px;
  }
  .section6-header {
    width: 270px;
  }

  .right-block {
    width: 265px;
    margin-left: 365px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: -350px;
      width: 100%;
      background-repeat: no-repeat;
      height: 415px;
      background-size: contain;
      z-index: 3;
      background-image: url('../images/man-sec-6.png');
    }
  }
  .section6-header {
    &:before {
      display: block;
      content: 'HARD';
      font-size: 140px;
      font-weight: 900;
      color: $tretiary-light-color;
      transform: rotate(90deg);
      left: -400px;
      bottom: 140px;
      position: absolute;
      z-index: 2;
    }
  }
  .section6-subtitle {
    font-size: 10px;
  }

  .section6__list {
    font-size: 8px;
    padding-left: 10px;
    width: 220px;

    margin: 0;

    & p {
      width: 210px;
    }

    &:before {
      position: absolute;
      content: '';
      left: -380px;
      width: 100%;
      background-repeat: no-repeat;
      height: 480px;
      bottom: 0;
      background-size: contain;
      z-index: 1;
      background-image: url('../images/shadow-sec-6.jpg');
    }
  }

  .section6__list-description {
    font-size: 9px;
  }
}
@media (min-width: 1200px) {
  .section6 {
    margin-bottom: 120px;
  }
  .right-block {
    &:before {
      height: 475px;
    }
  }

  .section6-header {
    &:before {
      left: -400px;
      bottom: 160px;
      font-size: 157px;
    }
  }
  .section6__list-description {
    font-size: 10px;
  }
  .section6__list-text {
    font-size: 9px;
  }
  .section6__list {
    width: 255px;
    &:before {
      height: 100%;
      bottom: 0;
    }
    & p {
      width: 240px;
    }
  }
}
