.section3 {
  font-family: $primary-font-family;
  margin-bottom: 50px;

  &-title {
    text-align: left;
    max-width: 345px;
    margin: 0 auto;
  }

  &-header {
    @include font-settings(18px, 24px, $primary-dark-color, 900);
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &-text {
    text-align: left;
    @include font-settings(14px, 20px, $primary-dark-color, 500);

    &--blue {
      background-color: $secondary--accent-color;
    }

    &--regular {
      font-weight: 400;
    }
  }

  &-list {
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;

    &-title {
      text-transform: uppercase;

      &--big {
        @include font-settings(23px, 28px, $primary-dark-color, 900);
      }
      &--small {
        @include font-settings(13px, 28px, $primary-dark-color, 900);
      }
    }
  }
}
