.section14{
  margin-bottom: 62px;
}
.img-wrap {
  margin: 0 auto;
  position: relative;
  width: 359px;
  height: 279px;
}

.img-wrap::before {
  width: 359px;
  height: 276px;
  display: block;
  content: "IT";
  font-size: 250px;
  font-weight: 800;
  color: $tretiary-light-color;
  transform: rotate(90deg);
  left: 8%;
  bottom: -5px;
  position: absolute;
  z-index: 1;
}

.section14__img {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 1px;
  z-index: 2;
}


.section14__title,
.section14__subtitle,
.section14__text,
.section14__subtext {
  padding: 0 75px;
}

.section14__subtitle {
  font-size: $paragraf-font-size;
  line-height: 16px;
  color: $primery-accent-color;
  font-weight: 800;
  padding: 0 15px;
  text-decoration: none;

  &::before {
    display: block;
    float: left;
    content: "";
    width: 1px;
    height: 23px;
    background-color: $primary-dark-color;
    border: 0.7px solid $primary-dark-color;
    transform: rotate(30deg);
    margin: 2px 17px 20px 0;
  }
}

.section14__title {
  width: 293px;
  height: 22px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  background-color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}

.section14__text {
  font-size: 13px;
  font-weight: 500;
  color: $primary-dark-color;
  line-height: 1.444;
  text-align: left;
  padding: 0 85px;

  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: $primary-dark-color;
    float: left;
    margin: 8px 15px 60px 0;
  }
}

@media (max-width: 767px) {

  .section14__list-name {
    font-size: 14px;
  }

}

@media (min-width: 768px) {
  .section14{
    margin-bottom: 88px;
  }
  .section14__header {
    display: flex;
    justify-content: space-between;

  }

  .section14__header-text {
    width: 280px;
  }

  .section14__subtitle {
    padding: 0;
    font-size: 9px;
    width: 150px;
  }

  .section14__title {
    padding: 0 0 70px;
    font-size: 27px;
    text-align: left;
    line-height: 38px;
    background-color: transparent;
  }

  .section14__text {
    padding: 0;
    font-size: 9px;
    width: 210px;
  }

  .section14__list-name {
    width: 118px;
    line-height: 20px;
    font-size: 14px;
    margin: 0;
  }

  .img-wrap {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .section14{
    margin-bottom: 124px;
  }

  .section14__title {
    font-size: 30px;
    width: 308px;
  }

  .section14__subtitle {
    font-size: 10px;
  }

  .section14__text {
    font-size: 10px;
  }
}
