.section12-header {
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 700;
  color: $primary-dark-color;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.section12-subtitle {
  font-family: $primary-font-family;
  font-size: 13.5px;
  font-weight: 700;
  width: 245px;
  margin: 0 auto;
  margin-bottom: 45px;

  & span {
    background: $secondary--accent-color;
  }
}

.section12-img {
  display: block;
  height: 260px;
  width: 290px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 25px;
}

.section12-list {
  width: 325px;
  font-family: $primary-font-family;
  color: $primary-dark-color;
  font-size: 13.5px;
  font-weight: 700;
  margin: 0 auto;

  & p {
    color: #3f4144;
  }
}
