.section3 {
  font-family: $primary-font-family;
  margin-bottom: 50px;

  @media (min-width: 768px)  {
    display: flex;
    justify-content: flex-start;
    background-position: bottom right;
    background-repeat: no-repeat;
    margin-bottom: 92px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    background-image: url(../images/chart-768px@1x.png);
    background-position: bottom right;
    background-repeat: no-repeat;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/chart-768px@2x.png);
      background-size: 219px 110px;
    }
  }

  @media (min-width: 1200px) {
    background-image: url(../images/chart-1200px@1x.png);
    margin-bottom: 125px;
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/chart-1200px@2x.png); 
      background-size: 244px 121px;
    }
  }

  &-title {
    position: relative;
    text-align: left;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @media (min-width: 768px) and (max-width: 1199px) {
      max-width: 200px;
    }
    @media (min-width: 1200px) {
      max-width: 216px;
    }
  }

  &-header {
    @include font-settings(18px, 24px, $primary-dark-color, 900);
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (min-width: 768px) and (max-width: 1199px) {
      @include font-settings(27px, 34px, $primary-dark-color, 900);
    }
    @media (min-width: 1200px) {
      @include font-settings(30px, 38px, $primary-dark-color, 900);
    }
  }

  &-subheader-text {
    position: relative;

    @media (min-width: 768px) and (max-width: 1199px) {
      &::before {
        content: '—';
        @include font-settings(58px, 0px, $primary-dark-color, 400);
        position: absolute;
        left: 0px;
        top: 8px;
      }

      max-width: 168px;
      padding-left: 50px;
      @include font-settings(9px, 14px, $primary-dark-color, 500);
    }

    @media (min-width: 1200px) {
      &::before {
        content: '—';
        @include font-settings(54px, 0px, $primary-dark-color, 400);
        position: absolute;
        left: 0px;
        top: 8px;
      }
      max-width: 193px;
      padding-left: 60px;
      @include font-settings(10px, 15px, $primary-dark-color, 900);
    }
    @media (max-width: 767px) {
      &::before {
        content: '—';
        @include font-settings(48px, 0px, $primary-dark-color, 400);
        position: absolute;
        left: -40px;
        top: 8px;
      }
    }
  }

  &-text {
    text-align: left;
    @include font-settings(14px, 20px, $primary-dark-color, 500);

    @media (min-width: 768px) and (max-width: 1199px) {
      @include font-settings(8px, 14px, $primary-dark-color, 500);
    }
    @media (min-width: 1200px) {
      @include font-settings(9px, 15px, $primary-dark-color, 500);
    }

    &--blue {
      display: inline;
      background-color: $secondary--accent-color;
    }

    &--regular {
      @include font-settings(14px, 12px, $secondary-dark-color, 400);

      @media (min-width: 768px) and (max-width: 1199px) {
        @include font-settings(8px, 12px, $secondary-dark-color, 400);
      }
      @media (min-width: 1200px) {
        @include font-settings(9px, 14px, $secondary-dark-color, 400);
      }
    }
  }

  &-list {
    @extend %list;
    max-width: 400px;
    margin: 0 auto;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0;
    }

    &-item {
      position: relative;

      @media (max-width: 768px) {
        &::before {
          @include pseudo-element();
          width: 10px;
          height: 10px;
          background-color: $primery-accent-color;
          left: -18px;
          top: 10px;
        }
      }

      @media (min-width: 768px) and (max-width: 1199px) {
        width: 150px;
        margin-right: 26px;
      }
      @media (min-width: 1200px) {
        width: 165px;
      }

      &-1 {
        @media (min-width: 768px) {
          order: 1;
        }
      }

      &-2 {
        @media (min-width: 768px) {
          order: 4;
        }
      }

      &-3 {
        @media (min-width: 768px) {
          order: 3;
        }
      }

      &-4 {
        @media (min-width: 768px) {
          order: 2;
        }
      }
    }

    &-title {
      text-transform: uppercase;
      @media (min-width: 768px) {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 14px;
      }

      &--big {
        @include font-settings(23px, 28px, $primary-dark-color, 900);
        @media (min-width: 768px) and (max-width: 1199px) {
          @include font-settings(16px, 20px, $secondary-dark-color, 900);
        }
        @media (min-width: 1200px) {
          @include font-settings(18px, 22px, $secondary-dark-color, 900);
        }
      }

      &--small {
        @include font-settings(13px, 28px, $primary-dark-color, 900);
        @media (min-width: 768px) and (max-width: 1199px) {
          @include font-settings(9px, 20px, $secondary-dark-color, 900);
        }
        @media (min-width: 1200px) {
          @include font-settings(10px, 22px, $secondary-dark-color, 900);
        }
      }
    }
  }
}
