.section10{
  margin-bottom: 99px;
}
.section10__button-block {
  text-align: center;
  
}

.wrapper-img {
  height: 180px;
}

.section10__img {
  object-fit: cover;
  object-position: 100% 15%;
  width: 100%;
  height: 100%;
}

.section10__subtitle-text {
  font-size: $paragraf-font-size;
  line-height: 16px;
  text-align: left;
  color: $primery-accent-color;
  font-weight: 800;
  padding: 0 25px;

  &::before {
    display: block;
    float: left;
    content: "";
    width: 1px;
    height: 23px;
    background-color: $primary-dark-color;
    border: 0.7px solid $primary-dark-color;
    transform: rotate(30deg);
    margin: 0 17px 0 0;
  }
}

.section10__title {
  font-size: 27px;
  text-align: left;
  font-weight: 800;
  width: 248px;
  text-transform: uppercase;
}

.section10__subtitle {
  font-size: 9px;
  font-weight: 500;
  color: $primary-dark-color;
  line-height: 1.444;
  text-align: left;
  padding: 27px 85px 0 0;
  text-transform: none;

  &::before {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: $primary-dark-color;
    float: left;
    margin: 8px 15px 60px 0;
  }
}

.list-name10 {
  font-size: 11px;
  line-height: 1.6;
  padding: 0 43px 0 67px;
}



// media---------------------------


@media (max-width: 767px) {

  .section10__title,
  .section10__subtitle {
    display: none;
  }

}

@media (min-width: 768px) {

  .section-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .wrapper-img {
    height: 169px;
    margin-bottom: 50px;
  }

  .list-name10 {
    padding: 0 20px 0 0;
    width: 180px;
    font-size: 9px;
    line-height: 19px;
    margin: 0;
  }

  .section10__button-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 345px;
  }


  .section10__subtitle-text {
    font-size: 9px;
    width: 220px;
    margin: 0;
    padding: 0;

  }

}

@media (min-width: 1200px) {
  .section10{
    margin-bottom: 124px;
  }
  .wrapper-img {
    height: 187px;
  }

  .section10__title {
    font-size: 30px;
    width: 276px;
  }

  .section10__subtitle {
    font-size: 10px;
  }

  .list-name10 {
    font-size: 10px;
  }


  .section10__button-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 382px;
  }
  .section10__subtitle-text {
    font-size: 10px;}
}
