.section8_img {
    display: block;
    width: 100%;
    height: 194px;
    object-fit: cover;
    margin-bottom: 24px;
}

.section8_img-center {
    display: block;
    margin: 0 auto;
}

.section8_text {
    position: relative;
    font-size: $paragraf-font-size;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.section8_wrap {
  width: 302px;
  margin: 0 auto 46px;
}

.section8_wrap-before {
    margin-bottom: 30px;
   
    & p {
        padding-left: 40px;
    }

  & p::before {
    display: block;
    content: "";
    width: 20px;
    height: 3px;
    background: $primary-dark-color;
    position: absolute;
    top: 10px; left: 0; 
  }
}

.section8_list {
    margin: 0;
    padding: 0;
}

.section8_list-text {
    font-size: $paragraf-font-size;
    line-height: 20px;
    font-weight: 400;
    color: $secondary-dark-color;
}

@media(min-width:768px) {
  .wrap8 {
    margin-bottom: 46px;
  }

  .section8_img-center {
    float: left;
  }

  .section8_img {
    width: 50%;
    float: right;
  }

  .section8_wrap {
    float: left;
    margin: 0;
  }

  .section8_wrap-before {
    float: right;
    margin-bottom: 46px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } 
  .section8_text {
    font-size: 9px;
    line-height: 14px;
  }

  .section8_list-text,
  .section8_subheading {
    font-size: 8px;
    line-height: 12px;
  }
  .section8_list {
    list-style-position: inside;
  }
}

@media (min-width: 1200px) {
  .section8_text {
    font-size: 10px;
    line-height: 15px;
  }
  
  .section8_list-text {
    font-size: 9px;
    line-height: 14px;
  }

  .section8_subheading {
    font-size: 10px;
  }

}