.section6-header {
  font-family: $primary-font-family;
  font-size: 18px;
  font-weight: 700;
  width: 273px;
  color: $primary-dark-color;
  margin: 0 auto;
  margin-bottom: 25px;
}
.section6-subtitle {
  font-family: $primary-font-family;
  font-size: 13.5px;
  font-weight: 700;
  width: 245px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.section6-list {
  font-family: $primary-font-family;
  color: $primary-dark-color;
  font-size: 13.5px;
  font-weight: 700;

  & p {
    color: #3f4144;
  }
}
